{% extends 'base.html' %}

{% block content %}

<!-- Display list of all stores -->
{% for store in store_list %}
<div class="card bg-light mb-3" style="max-width: 100%;">
  <div class="card-header">{{ store.name }}</div>
  <div class="card-body">
    <a href="{{ store.get_absolute_url }}">Detail</a>
  </div>
</div>
{% empty %}
<p>No store Yet</p>
{% endfor %}


<!-- Display pagination only if page_obj have some value -->
{% if page_obj %}
{% include "sale/store/pagination.html" with page=page_obj %}
{% endif %}


{% endblock %}
