{% load crispy_forms_tags %}

<form method="post" action="{% url 'sale:category_update_inline' pk=form.instance.pk %}" id="submit-update-temp" class='uniForm' novalidate>
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Update category</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update category</button>
  </div>
</form>
